*{
    text-decoration: none;
}

body {
    
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center; 
}

.box-container{
    width: 100%;
    height: 675px;
    background-image: url('p2.jpeg');
    background-size: auto;
    background-position: center;
    position:relative;
    display: flex;
    justify-content:center;
    align-items: center;
    align-self: center;
}

header {
    top:50%;
    bottom:50%;
    padding: 20px;
    font-size: larger;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: white;
}

#imageUpload {
    margin: 20px 0;
}

#canvas {
    border: 1px solid #fff;
    background-color: #000;
}

